In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Error loading vader_lexicon: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
sid = SentimentIntensityAnalyzer()

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("../TextFiles/amazonreviews.tsv",sep='\t')

In [6]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [7]:
df["label"].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
for i,ib,rv in df.itertuples():
    if type(rv)== str:
        if rv.isspace():
            df.drop(i)

In [10]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [11]:
df["scores"] = df['review'].apply(lambda re : sid.polarity_scores(re))

In [12]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [13]:
df['positive'] = df['scores'].apply(lambda score_dict: score_dict['pos'])
df['negative'] = df['scores'].apply(lambda score_dict: score_dict['neg'])
df['neutral'] = df['scores'].apply(lambda score_dict: score_dict['neu'])
df['compound']  =df['scores'].apply(lambda score_dict: score_dict['compound'])

In [14]:
df.head()

,label,review,scores,positive,negative,neutral,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.243,0.088,0.669,0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.145,0.018,0.837,0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.268,0.040,0.692,0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.295,0.090,0.615,0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.254,0.000,0.746,0.9781

In [15]:
df["label_0_1"] = df['label'].apply(lambda  l: 1 if l=='pos' else 0 )

In [16]:
df["label2"] = df['compound'].apply(lambda re : 1 if re >0 else 0)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      10000 non-null  object
 1   review     10000 non-null  object
 2   scores     10000 non-null  object
 3   positive   10000 non-null  float64
 4   negative   10000 non-null  float64
 5   neutral    10000 non-null  float64
 6   compound   10000 non-null  float64
 7   label_0_1  10000 non-null  int64
 8   label2     10000 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 781.2+ KB

In [18]:
df.head()

,label,review,scores,positive,negative,neutral,compound,label_0_1,label2
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.243,0.088,0.669,0.9454,1,1
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.145,0.018,0.837,0.8957,1,1
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.268,0.040,0.692,0.9858,1,1
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.295,0.090,0.615,0.9814,1,1
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.254,0.000,0.746,0.9781,1,1

In [19]:
df1 = df.index[df["label_0_1"]!=df["label2"]]

In [20]:
df=df.drop(df1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7122 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      7122 non-null   object
 1   review     7122 non-null   object
 2   scores     7122 non-null   object
 3   positive   7122 non-null   float64
 4   negative   7122 non-null   float64
 5   neutral    7122 non-null   float64
 6   compound   7122 non-null   float64
 7   label_0_1  7122 non-null   int64
 8   label2     7122 non-null   int64
dtypes: float64(4), int64(2), object(3)
memory usage: 556.4+ KB

In [22]:
df.drop(['scores','positive','negative','label2','label','compound','neutral'],axis=1,inplace=True)

In [23]:
df.head()

                                              review  label_0_1
0  Stuning even for the non-gamer: This sound tra...          1
1  The best soundtrack ever to anything.: I'm rea...          1
2  Amazing!: This soundtrack is my favorite music...          1
3  Excellent Soundtrack: I truly like this soundt...          1
4  Remember, Pull Your Jaw Off The Floor After He...          1

In [24]:
from sklearn.model_selection import train_test_split

X = df['review']
y = df['label_0_1']
train_test_split()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC

text_clf = Pipeline(steps=[('scaler', TfidfVectorizer()), ('svc', SVC())])

# Feed the training data through the pipeline
text_clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [26]:
# Form a prediction set
predictions = text_clf.predict(X_test)

In [27]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

[[ 743  134]
 [  66 1408]]

In [28]:
# Print a classification report
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.92      0.85      0.88       877
           1       0.91      0.96      0.93      1474

    accuracy                           0.91      2351
   macro avg       0.92      0.90      0.91      2351
weighted avg       0.92      0.91      0.91      2351

In [29]:
# Print the overall accuracy
print(metrics.accuracy_score(y_test,predictions))

0.9149298170991068

In [30]:
df

                                                 review  label_0_1
0     Stuning even for the non-gamer: This sound tra...          1
1     The best soundtrack ever to anything.: I'm rea...          1
2     Amazing!: This soundtrack is my favorite music...          1
3     Excellent Soundtrack: I truly like this soundt...          1
4     Remember, Pull Your Jaw Off The Floor After He...          1
...                                                 ...        ...
9993  Mauled again - killing bears to enrich himself...          0
9995  A revelation of life in small town America in ...          1
9996  Great biography of a very interesting journali...          1
9998  Don't buy: The box looked used and it is obvio...          0
9999  Beautiful Pen and Fast Delivery.: The pen was ...          1

[7122 rows x 2 columns]

In [31]:
import pickle

In [32]:
pickle.dump("../TFIDF_LSVC","wb")

TypeError: file must have a 'write' attribute